# Node.js
node_modules/

# dotenv environment variable file
.env

# Log files
logs
*.log

# npm package files
package-lock.json

# IDE or editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
